.App {
  color: black;
  font-size: medium;
  font-weight: 400;
}

.App-logo {
  height: 5rem;
  pointer-events: none;
  user-select: none;
}

.App-main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.App-button{
  border: none;
  border-bottom: 3px solid white;
  border-radius: 5px;
  outline: none;  
  background-color: white;
  padding: .25rem .5rem;
}

.App-button:hover{
  background-color: #272b32;
  color: white;
  border-bottom: 3px solid white;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #272b32;
  min-height: 10vh;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

#nav ul li{
  display: inline-block;
  margin: .5rem;
}

#nav ul li a{
  text-decoration: none;
  color: white;
  padding-bottom: 2px;
}

#nav ul li a:hover{
  text-decoration: overline;
  border-bottom: 2px solid white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
